<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="" tags="Extensions" viewEngine="Razor" authorizationPolicy="loce:policy">
	<assemblies>
		<add assembly="lunchin.Optimizely.Cloud.Extensions" />
	</assemblies>
	<clientResources>
		<add name="storageExplorer" path="clientResources/apps/storageExplorer.bundle.js" resourceType="Script"/>
		<add name="storageExplorer" path="clientResources/apps/storageExplorer.css" resourceType="Style"/>
    <add name="masterlanguage" path="clientResources/apps/masterlanguage.bundle.js" resourceType="Script"/>
    <add name="masterlanguage" path="clientResources/apps/masterlanguage.css" resourceType="Style"/>
	</clientResources>
	<dojo>
		<paths>
			<add name="loce" path="clientResources/widgets" />
		</paths>
	</dojo>
	<clientModule>
		<moduleDependencies>
			<add dependency="CMS" />
		</moduleDependencies>
	</clientModule>

</module>
