// The following breakpoints correspond to the smallest width of each device
// (i.e. "Desktop: 961px" is the smallest desktop and 960px is the largest tablet)

// Small tablet
$screen-sm: 30.0625rem;

// Tablet
$screen-md: 48rem;

// Desktop
$screen-lg: 60.0625rem;

// Large desktop
$screen-xl: 75rem;

// Extra large desktop
$screen-xxl: 120rem;
