<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="" tags="Azure" viewEngine="Razor" authorizationPolicy="loce:policy">
  <assemblies>
    <add assembly="lunchin.Optimizely.Cloud.Extensions.Commerce" />
  </assemblies>
  <clientResources>
    <add name="multicoupon" path="clientResources/apps/multicoupon.bundle.js" resourceType="Script"/>
    <add name="multicoupon" path="clientResources/apps/multicoupon.css" resourceType="Style"/>
  </clientResources>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" />
    </moduleDependencies>
    
  </clientModule>

</module>
