@import '../styles/breakpoints';
@import '../styles/utils';
@import '../styles/display-options';
@import '../styles/page';

.btn-primary {
    color: #fff;
    background-color: #3f84fc;
    border-color: #3f84fc;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    margin-right: 10px;
}

.page .bulkActions {
    display: flex;
    justify-content: flex-end;
}

.coupons {
    .form-control {
        display: block;
        width: 80%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0;

    }

    .actions-icon {
        padding: 1rem;
    }
}